:root {
    --links__nav:#000;
    --background-cabecalho: #001E4B;
    --background-nav: #D0D0D7;

    --background-rodape: #001E4B;
    --background-principal: #F7F7FF;
    --background-secundario:#B6DBF2;

    --color-titulos:#000;
    --color-titulos2:#333;
    --color-p:#000;
    --color-p2:#333;
    --color-link:#007bff;
}

/* Menu Navegação */
.navegacao__inicio{
    font-weight: bolder; 
    text-decoration: underline;
}

/* Container Introdução */
.container__introducao {
    width: 100%;
    max-width: 1500px; 
    padding: 20px;
    border-radius: 8px;  

    margin-left: auto;
    margin-right: auto;  
}
 
.introducao__titulo {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-titulos);
    text-align: center;
    margin-bottom: 20px;
     
}
 
.introducao__descricao {
    font-size: 16px; 
    text-align: justify;
    margin-bottom: 20px;
    overflow-wrap: break-word;
    margin-right: 2rem;

    color: var(--color-p);   
}
 
.introducao__lista {
    text-align: center;
    list-style-position: inside;
    max-width: 800px;
    list-style-type: disc;
    padding-left: 20px; 
    margin-left: auto;
    margin-right: auto;  
}

.introducao__calc{
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;  
    color: var(--color-p);
     
    margin-left: auto;
    margin-right: auto;  

}

.introducao__item {
    margin-bottom: 10px;
    font-size: 16px; 

    color: var(--color-p);
}
 
.introducao__link {
    color: var(--color-link);
    text-decoration: none;
}

.introducao__link:hover {
    text-decoration: underline;
}

    /* Sobre */
.container__sobre {  
    background-color: var(--background-secundario);
    padding: 20px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sobre__titulo {
    font-size: 28px;
    font-weight: bold;
    color: var(--color-titulos2);
    margin-bottom: 20px;
}

/* Parágrafo de descrição */
.sobre__descricao {
    font-size: 16px;
    color: var(--color-p2);
    text-align: justify;
    margin-bottom: 20px;
}

/* Container de membros */
.sobre__membros {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

/* Membro individual */
.membro {
    text-align: center;
    width: 30%;
}

.membro__foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.membro__nome {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-titulos2);
}